.div {
  height: auto;
  padding: 5%;
  margin: 5%;
} 

.header {
  background: #f9b713;
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.empBlock {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 6px solid white;
  height: auto;
  width: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: static;
  margin: 5 auto;
  margin-top: 10px;
}


